# Environments
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
.DS_Store

# PyCharm
.idea/
postgres_data/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

__pycache__/
**/static/admin/

shop/media/**
!shop/media/default-shop-logo.png
