# Environments
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

# PyCharm
.idea/
postgres_data/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

__pycache__/
**/static/admin/

**/media/shop/
