{% extends 'base.html' %}

<body>
    {% block content %}
    <style>
        .groups {
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid;
        }
    </style>

    <h1>{{ title }}</h1>
    <h4>Welcome, {{ user.username }}!</h4>
    <div class="groups">
        <h5>User groups:</h5>
        {% if groups %}
            {% for group in groups %}
                <span>{{ group }}</span>
            {% endfor %}
        {% else %}
            <span>No groups</span>
        {% endif %}
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Profile</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
</body>