.store_title:nth-child('even') {
    background-color: rgb(169, 166, 166);
    padding: 4px;
}

.store_title span {
    font-weight: bold;
}

.store_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0 10px;
}

.store_header > a {
    text-decoration: none;
    color: green;
    border: 1px solid;
    padding: 5px;
}

.store_block {
    border-bottom: 2px solid;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
